<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendance">

	<!--출근 insert 구문 -->
	<insert id="goWork" parameterType="AttendanceDto">
		insert into attendance
		(attandance_no,attendance_staff_id, attendance_start_time,
		attendance_work_state)
		VALUES(attendance_seq.nextval,#{attendanceStaffId},sysdate,'업무중')
	</insert>

	<!--퇴근시간 update 구문 -->
	<update id="leavework" parameterType="AttendanceDto">
		update attendance
		set
		attendance_end_time=sysdate WHERE
		TO_CHAR(attendance_start_time,'YYYYMMDD')
		= TO_CHAR(SYSDATE,'YYYYMMDD')
		and
		attendance_staff_id=#{attendanceStaffId}
	</update>
	<!--오늘출근시간 조회구문 -->
	<select id="goWorkfind" parameterType="String"
		resultType="AttendanceDto">
		SELECT * FROM attendance
		WHERE
		TO_CHAR(attendance_start_time,'YYYYMMDD')
		= TO_CHAR(SYSDATE,'YYYYMMDD')
		and
		attendance_staff_id=#{attendanceStaffId}
	</select>
	<!-- 출근 퇴근 시간 조회구문 -->
	<select id="startendtime" parameterType="String"
		resultType="AttendanceWorkTimeVO">
		select to_char(a.attendance_start_time,'HH24:MI:SS')
		start_time, to_char(a.attendance_end_time,'HH24:MI:SS')
		end_time from
		attendance a
		where TO_CHAR(attendance_start_time,'YYYYMMDD')=
		TO_CHAR(SYSDATE,'YYYYMMDD')
		and
		attendance_staff_id=#{attendanceStaffId}
	</select>
	<!-- 지각 조회구문 : 8시30분 이후넘으면... -->
	<select id="comeLate" parameterType="String"
		resultType="AttendanceDto">
		SELECT * FROM attendance
		WHERE
		attendance_staff_id=#{attendanceStaffId} and
		TO_CHAR(attendance_start_time,'yyyy-MM-dd hh24:mi:ss') >=
		(select
		to_char(trunc(sysdate)+ (INTERVAL '8' HOUR) + (INTERVAL '30' MINUTE),
		'yyyy-MM-dd hh24:mi:ss') from dual)
	</select>

	<!-- 지각하면 지각이 처리되는 구문 -->
	<update id="comeLateUpdate" parameterType="AttendanceDto">
		update attendance
		set
		attendance_work_state='지각'
		where
		TO_CHAR(attendance_start_time,'YYYYMMDD') =
		TO_CHAR(SYSDATE,'YYYYMMDD')
		and
		attendance_staff_id=#{attendanceStaffId}
	</update>

	<!--오늘의 근무시간 구문 -->
	<select id="totalWorkTime" parameterType="String"
		resultType="TodayTotalWorkTimeVO">
		select a.work_time from att_record a where
		a.attendance_start_time>to_char(sysdate,'yyyymmdd') and
		attendance_staff_id=#{attendanceStaffId}
	</select>

	<!-- 오늘 퇴근시간 -->
	<select id="todayLeaveTime" parameterType="String"
		resultType="TimeFormatVO">
		select to_char(attendance_end_time,'yyyy-MM-dd hh24:mi:ss')
		time from
		attendance where TO_CHAR(attendance_start_time,'YYYYMMDD') =
		TO_CHAR(SYSDATE,'YYYYMMDD')
		and
		attendance_staff_id=#{attendanceStaffId}
	</select>

	<!-- 출근 업무중 상태변경 = 조퇴 -->
	<update id="leaveEarly" parameterType="String">
		update attendance set
		attendance_work_state='조퇴'
		where
		attendance_start_time>to_char(sysdate,'yyyymmdd') and
		attendance_staff_id=#{attendanceStaffId}
	</update>

	<!-- 출근 업무중 상태변경 = 출근 -->
	<update id="normalWork" parameterType="String">
		update attendance set
		attendance_work_state='출근'
		where
		attendance_start_time>to_char(sysdate,'yyyymmdd') and
		attendance_staff_id=#{attendanceStaffId}
	</update>


	<!-- 출퇴근 전부 조회 구문 -->
	<select id="attendanceList" parameterType="AttendanceListVO"
		resultType="AttendanceListVO">
		select
		to_char(a.attendance_start_time, 'yyyy-mm-dd')
		attendance_start_time,
		to_char(a.attendance_start_time,'HH24:MI')
		start_time,
		to_char(a.attendance_end_time,'HH24:MI') end_time,
		a.attendance_work_state,
		Round(a.work_time) work_time,
		a.attendance_staff_id
		from att_record a
		where
		a.attendance_staff_id=#{attendanceStaffId}

		<choose>
			<when test="beginMade != null and endMade != null">
				and attendance_start_time between
				to_date(#{beginMade} || ' ' || '00:00:00', 'YYYY-MM-DD HH24:MI:SS')
				and
				to_date(#{endMade} || ' ' || '23:59:59', 'YYYY-MM-DD HH24:MI:SS')
			</when>
			<when test="beginMade != null">
	 				<![CDATA[
	 				and made >= to_date(#{beginMade} || ' ' || '00:00:00', 'YYYY-MM-DD HH24:MI:SS')
	 				]]>
			</when>
			<when test="endMade != null">
	 				<![CDATA[
	 				and made <= to_date(#{endMade} || ' ' || '23:59:59', 'YYYY-MM-DD HH24:MI:SS')
	 				]]>
			</when>
		</choose>

		order by attandance_no desc
	</select>

	<!-- 오늘 근무 조회 구문 -->
	<select id="todaywork" parameterType="String"
		resultType="AttendanceDto">
		select * from attendance where
		attendance_start_time>to_char(sysdate,'yyyymmdd') and
		attendance_staff_id=#{attendanceStaffId}
	</select>

</mapper>
