<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="patient">
	<insert id="insert" parameterType="PatientDto">
		insert into patient(
			patient_no, patient_name, patient_birth, patient_blood,
			patient_gender, patient_address,
			patient_phone
		)
		values(patient_seq.nextval, #{patientName}, 
		#{patientBirth}, #{patientBlood}, 
		#{patientGender}, #{patientAddress}, 
		#{patientPhone}) 
	</insert>
	
	<insert id="insert2" parameterType="ReceiveVO">
		<selectKey keyProperty="ps" resultType="int" order="BEFORE">
	    	select patient_seq.nextval from dual
		</selectKey>
		insert into receive(
			receive_no, staff_id, patient_no, receive_date, receive_time
		)
		values(receive_seq.nextval, #{staffId}, 
		#{patientNo}, to_date(sysdate, 'YYYY-MM-DD'), to_date(sysdate, 'HH24:MI:SS'))
	</insert>
	
	<select id="list" resultType="PatientDto">
		select * from patient order by patient_no desc
	</select>
	
	<update id="edit" parameterType="PatientDto">
		update patient
			set patient_name = #{patientName}, patient_birth = #{patientBirth},
			patient_blood=#{patientBlood}, patient_gender = #{patientGender},
			patient_address=#{patientAddress}, patient_phone=#{patientPhone}
			where patient_no = #{patientNo}
	</update>
</mapper>