<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="patient">
	<select id="patientseq" resultType="int">
		select patient_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="PatientDto">
		insert into patient(
			patient_no, patient_name, patient_birth, patient_blood,
			patient_gender, patient_address,
			patient_phone
		)
		values(#{patientNo}, #{patientName}, 
		#{patientBirth}, #{patientBlood}, 
		#{patientGender}, #{patientAddress}, 
		#{patientPhone}) 
	</insert>
	
	<update id="edit" parameterType="PatientDto">
		update patient
			set patient_name = #{patientName}, patient_birth = #{patientBirth},
			patient_blood=#{patientBlood}, patient_gender = #{patientGender},
			patient_address=#{patientAddress}, patient_phone=#{patientPhone}
			where patient_no = #{patientNo}
	</update>

	<!-- 원무과 환자 금일 현황 리스트 -->
	<select id="list" resultType="PatientReceiveListVO"> 
		select 
    S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.receive_date, R.receive_time, R.receive_no, diagnosis_no
      from 
      patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id
        LEFT outer join diagnosis D on R.receive_no = D.receive_no
      where R.receive_date = to_char(sysdate, 'yyyy-MM-dd')
	</select>
	
	<!-- 내과 환자 현황 리스트 -->
	<select id="list2" resultType = "PatientDepartmentVO">
		select 
    S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.receive_date, R.receive_time, diagnosis_no
      from 
      patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id
        LEFT outer join diagnosis D on R.receive_no = D.receive_no
      where R.receive_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '내과'
	</select>
	
	<!-- 외과 환자 현황 리스트 -->
	<select id="list3" resultType = "PatientDepartmentVO">
		select 
    S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.receive_date, R.receive_time, diagnosis_no
      from 
      patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id
        LEFT outer join diagnosis D on R.receive_no = D.receive_no
      where R.receive_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '외과'
	</select>
	
	<!-- 정형외과 환자 현황 리스트 -->
	<select id="list4" resultType = "PatientDepartmentVO">
		select 
    S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.receive_date, R.receive_time, diagnosis_no
      from 
      patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id
        LEFT outer join diagnosis D on R.receive_no = D.receive_no
      where R.receive_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '정형외과'
	</select>
	
	<!-- 영상의학과 환자 현황 리스트 -->
	<select id="list5" resultType = "PatientDepartmentVO">
		select 
    S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.receive_date, R.receive_time, diagnosis_no
      from 
      patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id
        LEFT outer join diagnosis D on R.receive_no = D.receive_no
      where R.receive_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '영상의학과'
	</select>
	
	<!-- 원무과 환자 기록 리스트 -->
	<select id="historylist" resultType="DiagnosisHistoryListVO"> 
		  select 
        S.staff_id, S.staff_medical_department,
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		D.diagnosis_date
		from 
		patient P inner join diagnosis D on P.patient_no = D.diagnosis_patient_no 
        inner join staff S on S.staff_id = D.diagnosis_staff_id;
	</select>
	
	<!-- 내과 환자 기록 리스트 -->
	<select id="historylist2" resultType="DiagnosisHistoryListVO"> 
		 select 
        S.staff_id, S.staff_medical_department,
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		R.receive_date
		from 
		patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id 
		where R.receive_date between to_char(to_date('2022-11-01', 'yyyy-MM-dd')) and to_char(to_date
        (sysdate-1, 'yyyy-MM-dd')) and S.staff_medical_department = '내과'
	</select>
	
	<!-- 외과 환자 기록 리스트 -->
	<select id="historylist3" resultType="DiagnosisHistoryListVO"> 
		 select 
        S.staff_id, S.staff_medical_department,
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		R.receive_date
		from 
		patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id 
		where R.receive_date between to_char(to_date('2022-11-01', 'yyyy-MM-dd')) and to_char(to_date
        (sysdate-1, 'yyyy-MM-dd')) and S.staff_medical_department = '외과'
	</select>
	
	<!-- 정형외과 환자 기록 리스트 -->
	<select id="historylist4" resultType="DiagnosisHistoryListVO"> 
		 select 
        S.staff_id, S.staff_medical_department,
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		R.receive_date
		from 
		patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id 
		where R.receive_date between to_char(to_date('2022-11-01', 'yyyy-MM-dd')) and to_char(to_date
        (sysdate-1, 'yyyy-MM-dd')) and S.staff_medical_department = '정형외과'
	</select>
	
	<!-- 영상의학과 환자 기록 리스트 -->
	<select id="historylist5" resultType="DiagnosisHistoryListVO"> 
		 select 
        S.staff_id, S.staff_medical_department,
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		R.receive_date
		from 
		patient P inner join receive R on P.patient_no = R.patient_no
        inner join staff S on S.staff_id = R.staff_id 
		where R.receive_date between to_char(to_date('2022-11-01', 'yyyy-MM-dd')) and to_char(to_date
        (sysdate-1, 'yyyy-MM-dd')) and S.staff_medical_department = '영상의학과'
	</select>
	
	<!-- 환자 전체 조회 건들지 마셈 -->
	<select id="patientList" resultType="PatientDto">
		select * from patient
	</select>
	
	<!-- 비동기 환자 핸드폰 번호 조회 -->
	<select id="patientConfirm" resultType="PatientDto" parameterType="PatientPhoneNameVO">
		select * from patient where patient_phone = #{patientPhone} and patient_name=#{patientName}
	</select>
	
	<select id="selectOne" resultType="PatientDto">
		select * from patient where patient_no = #{patientNo}
	</select>
	


</mapper>