<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
	<insert id="insert" parameterType="ReservationDto">
		insert into reservation(
			reservation_no, reservation_staff_id, 
			reservation_patient_no, reservation_date,
			reservation_content, reservation_time
		)
		values(
			reservation_seq.nextval, #{reservationStaffId}, 
			#{reservationPatientNo}, #{reservationDate},
			#{reservationContent}, #{reservationTime}
		)
	</insert>
	
	<select id="list" resultType="ReservationDto" parameterType="ReservationDto">
		select * from reservation
	</select>
	<select id="dateList" resultType="ReservationDto">
		select * from reservation where reservation_date=#{reservationDate}
	</select>
	<delete id="delete" parameterType="int">
		delete reservation where reservation_no = #{reservationNo}
	</delete>
	<select id="reservationConfirm" resultType="ReservationDto" parameterType="ReservationDateStaffIdVO">
		select * from reservation where reservation_staff_id = #{reservationStaffId} and reservation_date=#{reservationDate}
	</select>
	<select id="reservationDetail" resultType="ReservationDto" parameterType="int">
		select * from reservation where reservation_no = #{reservationNo}
	</select>
	<select id="toDayList" resultType="PatientReservationListVO">
		select 
		P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
		R.reservation_date, R.reservation_time
		from 
		patient P inner join reservation R on P.patient_no = R.reservation_patient_no 
		where R.reservation_date = to_char(sysdate, 'yyyy-MM-dd')
	</select>
	<select id="toDayListSurgery" resultType="PatientReservationDepartmentVO">
		select 
        S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.reservation_date, R.reservation_time
      from 
      patient P inner join reservation R on P.patient_no = R.reservation_patient_no
        inner join staff S on S.staff_id = R.reservation_staff_id 
      where R.reservation_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '외과'
	</select>
	<select id="toDayListMedicine" resultType="PatientReservationDepartmentVO">
		select 
        S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.reservation_date, R.reservation_time
      from 
      patient P inner join reservation R on P.patient_no = R.reservation_patient_no
        inner join staff S on S.staff_id = R.reservation_staff_id 
      where R.reservation_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '내과'
	</select>
	<select id="toDayListOrthopedic" resultType="PatientReservationDepartmentVO">
		select 
        S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.reservation_date, R.reservation_time
      from 
      patient P inner join reservation R on P.patient_no = R.reservation_patient_no
        inner join staff S on S.staff_id = R.reservation_staff_id 
      where R.reservation_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '정형외과'
	</select>
	<select id="toDayListRadiology" resultType="PatientReservationDepartmentVO">
		select 
        S.staff_name, S.staff_medical_department,
      P.patient_no, P.patient_name, P.patient_gender, P.patient_blood, P.patient_birth,
      R.reservation_date, R.reservation_time
      from 
      patient P inner join reservation R on P.patient_no = R.reservation_patient_no
        inner join staff S on S.staff_id = R.reservation_staff_id 
      where R.reservation_date = to_char(sysdate, 'yyyy-MM-dd') and S.staff_medical_department = '영상의학과'
	</select>
</mapper>

