<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
	<insert id="insert" parameterType="ReservationDto">
		insert into reservation(
			reservation_no, reservation_staff_id, 
			reservation_patient_no, reservation_date,
			reservation_content, reservation_time
		)
		values(
			reservation_seq.nextval, #{reservationStaffId}, 
			#{reservationPatientNo}, #{reservationDate},
			#{reservationContent}, #{reservationTime}
		)
	</insert>
	
	<select id="list" resultType="ReservationDto" parameterType="ReservationDto">
		select * from reservation
	</select>
	
	<select id="dateList" resultType="ReservationDto">
		select * from reservation where reservation_date=#{reservationDate}
	</select>
	
	<delete id="delete" parameterType="int">
		delete reservation where reservation_no = #{reservationNo}
	</delete>
</mapper>

