<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="secom">

	<insert id="join" parameterType="SecomDto">
		insert into secom(staffId, staffPw)
		values(#{staffId}, #{staffPw})
	</insert>
	
	<select id="get" parameterType="String" resultType="SecomDto">
		select * from secom where staffId = #{staffId}
	</select>
</mapper>