<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="staff">
	
	<!-- 직원생성-->
	<insert id="insert" parameterType="StaffDto">
		insert into staff (
			staff_id, staff_pw,staff_department_no, 
			staff_birth, staff_phone,staff_address,
			staff_grade, staff_medical_department,
			staff_name,staff_enroll_date
		)
		values(
			#{staffId}, #{staffPw}, #{staffDepartmentNo},
			#{staffBirth}, #{staffPhone}, #{staffAddress},
			#{staffGrade}, #{staffMedicalDepartment},
			#{staffName},#{staffEnrollDate}		 
		)
	</insert>
	
	<!-- 직원목록 -->
	<select id="list" resultType="StaffDto">
		select * from staff
	</select>
	
	<!-- 직원수정 -->
	<update id="edit" parameterType="StaffDto">
		update staff
		set
			staff_department_no=#{staffDepartmentNo}, 
			staff_birth=#{staffBirth}, 
			staff_phone=#{staffPhone}, 
			staff_adress=#{staffAddress}, 
			staff_enroll_date=#{staffEnrollDate}, 
			staff_state=#{staffState}, 
			staff_grade=#{staffGrade}, 
			staff_leave_cnt=#{staffLeaveCnt}, 
			staff_day_off=#{staffDayOff}
			staff_medical_department=#{staffMedicalDepartment}
		where
				staff_id=#{staffId}
	</update>
	
	<!-- 직원삭제 -->
 	<delete id="delete" parameterType="String">
 		delete staff where staff_id = #{staffId}
 	</delete>	
 
	<!-- 로그인 여부 확인 -->
 	<select id="login" parameterType="String" resultType="StaffDto">
 		select * from staff where staff_id = #{staffId}
 	</select>
 	
 	<!-- 비밀번호 변경-->
 	<update id="password" parameterType="map">
 		update staff 
 			set staff_pw = #{afterPw} 
 				where staff_id = #{staffId}
 	</update>
 	
 	<!-- 개인정보 변경 -->
 	<update id="information" parameterType="StaffDto">
 		update staff
 				set 
 					staff_phone = #{staffPhone},
 					staff_address = #{staffAddress}
 				where
 					staff_id = #{staffId}
 	</update>
 	
	<!-- 직원 검색 구문 --> 
 	<select id="search" parameterType="StaffSearchVO" resultType="StaffDto">
 		select * from staff
 		<where>
 		
 		<!-- 아이디 검색  -->
 		<if test="staffId != null">
 			and staff_id = #{staffId}
 		</if>
 		
 		<!-- 이름 검색 -->
 		<if test="staffName != null">
 			and instr(staff_name, #{staffName}) > 0
 		</if>
 		
 		<!-- 부서번호 검색  -->
 		<if test="staffDepartmentNo != null">
 			and staff_department_no = #{staffDepartmentNo}
 		</if>
 		</where>
 		
 		</select>
 		
 		<!-- 암호화 (아직 대기)-->
 		<insert id="join" parameterType="StaffDto">
 			insert into staff(staff_id, staff_pw)
 			values(#{staffId}, #{staffPw})
 		</insert>
 	
 		<select id="get" parameterType="String" resultType="StaffDto">
 			select * from staff where staff_id = #{staffId}
 		</select>
 		
 		
</mapper>