<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="staff">
	
	<!-- 직원등록-->
	<insert id="insert" parameterType="StaffDto">
		insert into staff (
			staff_id, staff_department_no, staff_birth, 
			staff_phone, staff_address, staff_enroll_date, 
			staff_leave_date, staff_state, staff_pw, 
			staff_grade, staff_name, staff_leave_cnt, staff_dayoff
		)
		values(
			#{staffId}, #{staffDepartmentNo}, #{staffBirth}, 
			#{staffPhone}, #{staffAddress}, #{staffEnrollDate}, 
			#{staffLeaveDate}, #{staffState}, #{staffPw}, 
			#{staffGrade}, #{staffName}, #{staffLeaveCnt}, #{staffDayoff}
		)
	</insert>
	
	<!-- 직원목록 -->
	<select id="list" resultType="StaffDto">
		select * from staff
	</select>
	
	<!-- 수정 -->
	<update id="edit" parameterType="StaffDto">
		update staff
		set
			staff_department_no=#{staffDepartmentNo}, 
			staff_birth=#{staffBirth}, 
			staff_phone=#{staffPhone}, 
			staff_adress=#{staffAddress}, 
			staff_enroll_date=#{staffEnrollDate}, 
			staff_state=#{staffState}, 
			staff_grade=#{staffGrade}, 
			staff_leave_cnt=#{staffLeaveCnt}, 
			staff_day_off=#{staffDayOff}
		where
				staff_id=#{staffId}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="change" parameterType="staffDto">
			update staff
			set staffPw = #{staffPw}
			where staffId = #{staffId}
	</update>
	
	<!-- 직원삭제 -->
 	<delete id="delete" parameterType="String">
 		delete staff where staff_id = #{staffId}
 	</delete>	
 	
 	<!-- 로그인 -->
 	<select id="login"  resultType="String">
 		select staffName from staff
 		where staffId=#{staffId} and staffPw=#{staffPw}
 	</select>
 	
 	<!-- 검색 -->
	<!-- <select id="list" resultType="StaffDto">
		select * from staff 
		where staff_id = #{staffId}, staff_department_no = #{staffDepartmentNo} 
	</select> -->
 	
</mapper>